<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/style.css"></noscript>
</head>
<body>
<h1>Admin Dashboard</h1>
<p>Welcome, Admin! You have full access to the system.</p>
<a href="/user-list">Manage Users</a>
<a href="/register">Register New User</a>
</body>
</html>